.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.wrapper{
  transform: translate(0, -50%);
  text-align: center;
  position: relative;
  width: 100%;
  top: 150px;
}
.love-time{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.timer{
  line-height: 1.5;
}

.timer  b{
  color:rgb(253, 99, 125);
}
